.abouts-panel{
	
}
.abouts-content{
	text-align: center;
}
.meige-title{
	font-size: 28px;
    text-align: center;
    margin: 40px auto;
    padding-bottom: 40px;
    color: #009B4B;
    background: url(../image/meige-title-bg.jpg) no-repeat;
    background-position:  center 50px;
}
.abouts-content .abouts-title {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 22px;
    border-bottom: 1px dashed #666666;
}
.abouts-content .subtitle{
	margin-top: 50px;
	margin-bottom: 30px;
	color: #009B4B;
} 
.aboutsimg img{
	width: 100%;
}
.padtopc-hide{
	display: block;
}
@media only screen and (min-width: 992px) {
	.abouts-content{
		text-align: right;
	}
	.abouts-content .abouts-title {
		width: 50%;
    	margin-left: 50%;
	}
	.aboutsimg img{
		margin-top: 50px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.padtopc-hide{
		display: none;
	}
}